.container {
  display: inline-block;
  padding-top:15px;
  padding-bottom: 15px;
  background-color: #FFF;
  border-radius: 20px;
  width: 34px;
}

.icons {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #AAAAAA;
}

.position {
  padding-top: 22px;
}