@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.base {
    display: inline-block;
    flex-grow: 1;
    background-color: #EEEEEE;
    border-radius: 5px;
    width: 100%;
    height: 295px;
    cursor: pointer;
}

.card {
    height: 250px;
}

.img {
    width: 90%;
}

.lower {
    background-color:#0E153D;
    border-radius: 0px 0px 5px 5px;
}

.product-name {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    line-height: 45px;
    padding-left: 10px;
}

.card-back {
    border-radius: 5px 5px 5px 5px;
    background-color:#0E153D;
    height: 295px;
}