@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.base {
    display: inline-block;
    background-color: #EEEEEE;
    border-radius: 5px;
    height: 295px;
    cursor: pointer;
}

.card {
    z-index: 1;
}

.img {
    position: relative;
    top: -50px;
    z-index: 2;
}

.lower {
    background-color:#0E153D;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    top: 250px;
}

.imgback {
    position: relative;
    top: -295px;
    z-index: 2; 
}

.product-name {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    line-height: 45px;
    padding-left: 10px;
}

.card-back {
    position: relative;
    height: 295px;
    z-index: 3;
    background-color:#0e153dde;
}