.badge {
    display: inline-block;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    align-self: center;
    padding-left: 2px;
    padding-right: 2px;
}

.active {
    display: inline-block;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    align-self: center;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #20D3C2;
    color: white;
}
