@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 15px;

}

.active {
    color: #20D3C2;
}

.notactive {
    color: #000;
}


.row :hover {
    cursor: pointer;
}



.border {
    border-radius: 4px;
    margin-right: 8px;
    width: 18px;
    height: 18px;
    background-color: #000;
}

.checkbox {
    display: flex;
    align-items: center;
}

.indicator {
    color: white;
    font-size: 12px;
    text-align: center;
    padding-top: 2px;
}