.container {
    width: 100%;
    margin-top: 10%;
    font-family: Roboto, sans-serif;
}
.container h2 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.container .titles {
    margin: 2rem 0 0 0;
}

.container .titles h3 {
    font-size: 18px;
}

.items, .container .titles {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
    border-bottom: 1px solid #20D3C2;
}

.items {
    border-bottom: 1px solid #e3e3e3;
    padding: 1rem 0;
}

.titles .product-title {
    padding-left: 0.5rem;
}

.removeitem {
    width: 25px;
    height: 25px;
    max-width: 100%;
    border-radius: 50%;
    background-color: grey;
    border: none;
    color: white;
    cursor: pointer;
}

.removebtn {
    padding-top: 32px;
}

.subtotal {
    padding-right: 0.5rem;
    justify-self: right;
}

.totalprice {
    color: #20D3C2;
    font-weight: bold;
    justify-self: right;
}

.items .product {
    display: flex;
}

.items .product img {
    width: 100px;
    max-width: 100%;
    margin-right: 1rem;
}

.items .product h3 {
    font-weight: 400;
    font-size: 16px;
    margin-top: 50%;
}

.quantity {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100px;
    height: 40px;
    max-width: 100%;
    border: 0.5px solid rgb(177,177,177);
    border-radius: 5px;
}

.quantity button {
    border: none;
    outline: none;
    background: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
}

.quantity .count {
    padding: 0.7rem 0;
}

.summary {
    padding: 1rem 0;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    padding-top: 2rem;
}

.checkout {
    width: 270px;
    max-width: 100%;
}
.checkout .subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
}

.checkout .amount {
    font-weight: 700;
    color: #20D3C2;
}

.checkout .proceed {
    width: 100%;
    height: 45px;
    border-radius: 15px;
    margin-top: 1rem;
    font-weight: 500;
    font-size: bold;
    border: none;
    outline: none;
    cursor: pointer;
    background: #20D3C2;
    color: white;
    margin-bottom: 1rem;
}


