.img {
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.button {
  height: 40px;
  width: 35px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #20d3c2;
  color: white;
  border-width: 1px;
}
.searchbar {
  
}
.search {
  width: 400px;
  height: 36px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-width: 1px;
  outline: none;
}
.categories {
  height: 40px;
  width: 100px;
}
.container li {
  list-style: none;
  float: left;
  padding: 10px;
  font-family: Roboto, sans-serif;
  border: none;
}
.container a:link {
  text-decoration: none;
}
.container a:visited {
  color: black;
}
