.container {
  background-color: white;
  border-top: 1px solid #c7cec8;
  display: flex;
  justify-content: center;
}

.container ul {
  margin: 0;
  padding: 10px;
  display: flex;
  list-style: none;
}

.container li {
  background: white;
  margin-left: 1.5rem;
}

.container li i {
  color: #20d3c2;
}

.container a {
  text-decoration: none;
}

.btnOffer {
  margin: 5px;
  margin-left: 80px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
  background-color: #20d3c2;
  color: white;
  border: none;
}

.container a:hover,
.container a:active,
.container a.active {
  color: #20d3c2;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid #20d3c2;
}

.container button:hover {
  cursor: pointer;
}
