@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.col-one {
  width: 25%;
}

.col-two {
  width: 50%;
}

.col-two ul {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.col-two i {
  color: #20d3c2;
}

.col-two a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-decoration: none;
}

.col-tre {
  width: 25%;
  display: flex;
  justify-content: end;
}

.btn-offer {
  font-family: "Roboto", sans-serif;
  width: 145px;
  height: 37px;
  margin-top: 2%;
  margin-right: 5%;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  background-color: #20d3c2;
  color: white;
  border: none;
}

.col-two a:hover {
  color: #20d3c2;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #20d3c2;
}

.col-two a:active,
.col-two a.active {
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #20d3c2;
}

.col-tre button:hover {
  cursor: pointer;
}
