@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.description {
    color:#FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;

}

.column {
    margin-left: 20px;
    margin-right: 20px;
}