@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.title {
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: #20D3C2;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}

