@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.description {
    color:#FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font: weight 100px;
    line-height: 1.7;
    margin-bottom: 40px;
}

.follow {
    color:#FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font: weight 400px;
    line-height: 1.7;
    margin-bottom: 10px;
}
.column {
    margin-left: 20px;
    margin-right: 20px;
}

.img {
    margin-left:-10px;
    margin-bottom: 10px;
}

.decoration {
    position: relative;
    padding-top: -50%;
    width: 50px;
    border-top: 1px solid #20D3C2;
    border-bottom: 1px solid #0E153D;
    border-left: 1px solid #0E153D;
    border-right: 1px solid #0E153D;
    margin-left: 30px;
}

.decorationcontainer {
    display: inline-block;
}