.footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #0E153D;
    border-top: 5px solid #20D3C2;
    height: 200px;
}